<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dhaval2404.imagepicker">

    <application>

        <activity
            android:name=".ImagePickerActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.Transparent.ImagePicker" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="com.github.dhaval2404.imagepicker.ImagePickerFileProvider"
            android:authorities="${applicationId}.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_picker_provider_paths" />

        </provider>

    </application>

    <queries>
        <!-- Query Camera Packages -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Query Open Document -->
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
        </intent>
    </queries>

</manifest>
